<div class="row header">
    <div class="col-lg-12">
        <label> Customer List</label>
    </div>
  </div>

<div class="row crud-row">
    <div class="col-sm-3">
        <button class="blue button large" type="button" label="Add" (click)="AddEvent($event)">Add</button>
    </div>
    <div class="col-sm-2">
        <input type="text" placeholder="Search Data" [(ngModel)]="this.getDataListVM.GlobalFilter" pInputText />
    </div>
    <div class="col-sm-2">
        <button class="blue button large" type="button" label="Search"
            (click)="SearchEvent($event)">Search</button>
    </div>
    <div class="col-sm-2">
        <button class="blue button large" type="button" label="Reset" (click)="Reset()">Reset</button>
    </div>
    <div class="col-sm-3 form-group">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table id="new-table">
            <thead>
                <tr>
                    <th *ngFor="let column of columnList">
                        {{column.header}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dataRow of wrapperItemList.ListOfData">
                    <td *ngFor="let col of columnList">
                        <span *ngIf="col.field == 'Action'">
                            <!-- <span (click)="ModifyEvent($event,'Edit',dataRow)" style="padding: 3px;"><i
                                    class="pi pi-check"></i></span>
                            <span (click)="ModifyEvent($event,'Delete',dataRow)" style="padding: 3px;"><i
                                    class="pi pi-times"></i></span> -->
                                    <button class="blue button small" type="button" label="Search"
                                    (click)="ModifyEvent($event,'Edit',dataRow)">Edit </button>
                                <button class="blue button small" type="button" label="Search"
                                    (click)="ModifyEvent($event,'Delete',dataRow)">Delete</button>
                        </span>
                        <span *ngIf="col.field != 'Action'">
                            {{dataRow[col.field]}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 paging">
        <span (click)="GoToPage('-')" class="space-around paging-icons"><i class="pi pi-fast-backward"></i></span>
        <span class="space-around page-no">{{this.CurrentPageNo}}</span>
        <span (click)="GoToPage('+')" class="space-around paging-icons"><i class="pi pi-fast-forward"></i></span>
    </div>


</div>

<!-- <div class="row">
    <div class="tab col-lg-12">
        <button class="tablinks" (click)="goto($event, 'payment')">Payment</button>
        <button class="tablinks" (click)="goto($event, 'history')">History</button>
    </div>
</div> -->
<div class="row">
    <div class="col-lg-12  custom-tab">
        <button class="blue button large" type="button" label="Payment"
        (click)="goto($event, 'payment')">Payment</button>
       
        <button class="blue button large" type="button" label="History"
        (click)="goto($event, 'history')">History</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <router-outlet></router-outlet>
    </div>
</div>



























<!-- <div style="background-color: brown;">
    <div class="col-lg-3"><button pButton type="button" label="Add Customer" (click)="AddCustomer($event)"></button></div>
    <div class="col-lg-12" *ngIf="listVM">
        <p-table #tt [value]="listVM" [columns]="cols" [scrollable]="true" scrollHeight="600px" [paginator]="true"
            [first]="first" [rows]="PageSize"
            [globalFilterFields]="['Name','Email','PermanentAddress','PresentAddress','CellNo','AlternateCellNo']"
            [style]="{width:'1000px'}" [loading]="loading" [showLoader]="true" [lazy]="true"
            (onLazyLoad)="loadDataLazy($event)" [totalRecords]="totalRecords">
            
            <ng-template pTemplate="caption">
                List of Client
                <input type="text" pInputText size="50" placeholder="Global Filter"
                    (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </ng-template>
            
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" style="width:150px">
                </colgroup>
            </ng-template>
            
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
           
            <ng-template pTemplate="body" let-values let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <span *ngIf="col.field == 'button'"  style="width: auto;">
                           <span (click)="Modify($event,col.header,values)"><i class="pi pi-check"></i></span>
                        </span>
                        <span *ngIf="col.field != 'button'"  style="width: 150px;">
                            {{values[col.field]}}
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div> -->























































<!-- <div style="background-color: brown;">
    <div class="col-lg-3"><button pButton type="button" label="Add Customer" (click)="AddCustomer($event)"></button></div>
    <div class="col-lg-12" *ngIf="listVM">
        <p-table #tt [value]="listVM" [columns]="cols" [scrollable]="true" scrollHeight="600px" [paginator]="true"
            [first]="first" [rows]="PageSize"
            [globalFilterFields]="['Name','Email','PermanentAddress','PresentAddress','CellNo','AlternateCellNo']"
            [style]="{width:'1000px'}" [loading]="loading" [showLoader]="true" [lazy]="true"
            (onLazyLoad)="loadDataLazy($event)" [totalRecords]="totalRecords">
            
            <ng-template pTemplate="caption">
                List of Client
                <input type="text" pInputText size="50" placeholder="Global Filter"
                    (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </ng-template>
            
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" style="width:150px">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-values let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <span *ngIf="col.field == 'button'"  style="width: auto;">
                           <span (click)="Modify($event,col.header,values)"><i class="pi pi-check"></i></span>
                        </span>
                        <span *ngIf="col.field != 'button'"  style="width: 150px;">
                            {{values[col.field]}}
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div> -->