<div class="ui-fluid">
    <div class="ui-g-12">
        <label> Add New Item</label>
    </div>
    <div class="ui-g-6">
        <p-dropdown [options]="ddModel" [(ngModel)]="selectedItem" [filter]="true" filterBy="label"></p-dropdown>
    </div>
    <div class="ui-g-6">
        <input type="text" placeholder="Name" [(ngModel)]="viewModel.Name" pInputText />
    </div>
    <div class="ui-g-6">
        <textarea pInputTextarea placeholder="Unit Price" [(ngModel)]="viewModel.UnitPrice"></textarea>
    </div>
    <div>
        <button pButton type="button" label="Add Client" (click)="Add($event)"></button>
        <!-- (click)="handleClick($event)" -->
    </div>
</div>
