<div>
    <div class="col-lg-12">
        <label> Add New Item</label>
    </div>
    <div class="col-lg-6">
        <p-dropdown [options]="ddModel" [(ngModel)]="selectedItem" [filter]="true" filterBy="label"></p-dropdown>
    </div>
    <div class="col-lg-6">
        <input type="text" placeholder="Name" [(ngModel)]="viewModel.Name" pInputText />
    </div>
    <div class="col-lg-6">
        <label>Unit Price : </label>
        <input type="text" placeholder="Unit Price" [(ngModel)]="viewModel.UnitPrice" pInputText />
    </div>
    <div>
        <button pButton type="button" label="Add Client" (click)="Add($event)"></button>
        <!-- (click)="handleClick($event)" -->
    </div>
</div>