<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<!-- <p-sidebar [(visible)]="display">
  Content
</p-sidebar>
<button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Show">Click Me!!</button> -->
<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-2 ui-md-2">
      <p-panelMenu [multiple]="false" [model]="items"></p-panelMenu>
    </div>
    <div class="ui-g-10 ui-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>