<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




<!-- <p-sidebar [(visible)]="display">
  Content
</p-sidebar>
<button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Show">Click Me!!</button> -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<div>
  <div class="row">
    <div class="col-lg-2 col-sm-2 col-md-2">
      <p-panelMenu [multiple]="false" [model]="items"></p-panelMenu>

    </div>
    <div class="col-lg-10 col-sm-10 col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>