


<div class="row container">
    <div class="col-lg-12 form-group">
      <p-dropdown [options]="ddModelVmsPageSpecific.StaffVMs" [(ngModel)]="selectedStaff" [filter]="true"
        filterBy="label" (onChange)="Selected($event)"></p-dropdown>
    </div>
    <div class="col-lg-12 form-group">
      <input type="text" placeholder="Name" [(ngModel)]="viewModel.Amount" pInputText />
    </div>
    <div class="col-lg-12 form-group">
      <button pButton type="button" label="Pay" (click)="Add($event)"></button>
    </div>
  </div>
  
  
  <div class="row" style="height: 400px;">
    <div class="col-lg-12"></div>
  </div>
