/* You can add global styles to this file, and also import other style files */
.bodycontainer { max-height: 450px; width: 100%; margin: 0; overflow-y: auto; }
.table-scrollable { margin: 0; padding: 0; }
.custom-table-n{
    height:350px;
    overflow: auto;
    padding: 0px;
}
.custom-table-n table tbody tr td{
padding: 0px;
border-left: 2px solid black;
text-align: center;
}
.custom-table-n table thead tr th{
    padding: 0px;
    border: 2px solid black;
    text-align: center;
    }

.space-around{
    padding:3px;
    }
.paging{
    text-align: center;
}
.paging-icons{
    font-size: 40px;
    }
.page-no{
    border:2px solid black;
    font-size: 30px;
    }



    /* button design */
.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
.btn { 
    margin-bottom:10px; 
}
